*{
    font-family: 'Poppins', sans-serif;
}

.active{
    background-color:rgb(214, 57, 57);
    color: white;
}

a{
    display: inline-block;
    background-color: #eee;
    padding: 15px;
    margin-right: 10px;
    cursor: hand;
    text-decoration: none;
    border-radius: 5px;
    transition: all .2s;
}

a:hover{
    scale: 1.1;
}

h2{
    display: inline-block;
    width: 15em;
    margin: 0 1rem 0 1rem;
    text-align: center  ;
}

img{
    display: block;
    width: 30rem;
}